 @media (max-width: 1220px){
  .advantages-inner_text {
    padding-left: 20px;
  }
  .design__image img {
    width: 100%;
  }
}
@media (max-width: 1020px){
  .design-row {
    display: block;
  }
  .design-row__item{
    max-width: 100%;
    margin-bottom: 20px;
    padding-right: 0;
  }
  .design-row__item-text {
    max-width: 100%;
  }
  .design__image,
  .design-row{
    margin-bottom: 50px;
  }
}

 @media (max-width: 930px){
  .advantages-inner_row {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }
  .advantages-inner_title{
    position: static;
  }
  .advantages-inner_item{
    text-align: center;
  }
  .advantages-inner_text{
    margin: 25px auto;
    padding-left: 0;
  }
  .advantages-inner_row--mobile .advantages-inner_item{
    order: -1;
    display: flex;
    flex-direction: column-reverse;
  }
}  
@media (max-width: 820px){
  .statistics {
    margin: 110px 0 50px;
  }
  .statistics-items {
    flex-wrap: wrap;
  }
  .statistics-item {
    padding: 50px;
  }
  .advantages-inner_row {
    margin: 0;
  }
} 
@media (max-width: 650px){
  .advantages-inner_image img{
    width: 100%;
  }
  
}
@media (max-width: 440px){
  .header-content__title {
    font-size: 80px;
    line-height: 90px;
  }
}
@media (max-width: 410px){
  .logo img {
    width: 200px;
  }
  .header-content__title {
    font-size: 70px;
    line-height: 85px;
    margin-top: 20px;
  }
  .menu-list a {
    font-size: 30px;
    line-height: 44px;
    display: block;
    min-width: 100%;
    padding: 19px 10px 7px 0;
  }
  .menu-list ul {
    width: 100%;
  }
  .btn{
    padding: 19px 47px;
  }
  .statistics-item {
    padding: 25px 0;
  }
  .statistics {
    margin: 110px 0 50px;
  }
  .button {
    padding: 20px 45px;
  }
  .video {
    margin-bottom: 50px;
  }
  .advantages {
    margin-bottom: 50px;
  }
  .advantages-inner_row {
    margin: 0;
  }
  body{
    font-size: 20px;
    line-height: 24px;
  }
  .advantages-inner_text {
    width: 100%;
  }
}